{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发起成功</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
</head>
<body style='background:url("/static/img/825.jpg")no-repeat center center fixed;
                /*兼容浏览器版本*/
                -webkit-background-size: cover;
                -o-background-size: cover;
                background-size: cover;'>
<div style="margin-bottom:12%"></div>
<div class="jumbotron">
        <div class="container">
        <h1><span style="color:lightgreen" class="glyphicon glyphicon-ok-circle"></span></h1>
    <p>发起成功！该次订单预计送达时间为{{ duration }}小时，运费单价为{{ unit_price }}元/千克。</p>
            <a  href={% url "user_page" id 2 1 %}><button class="btn btn-default">返回</button></a></div></div>
</body>
</html>
