<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" type="text/css" href="/static/css/Main.css">
</head>
<body>
    <h1>请注册：</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p><label>手机：</label><input type="text" name="phone"></p>
        <p><label>密码：</label><input type="password" name="password"></p>
        <p><label>姓名：</label><input type="text" name="name"></p>
        <p><label>所在地：</label><select name="location">{% for obj in location %}<option>{{ obj.district }}</option>{% endfor %}</select></p>
        <p><label>详细地址：</label><input type="text" name="address"></p>
        <input type="submit" value="register">
        <p style="color:red">{{ error_msg }}</p>
    </form>
</body>
</html>